BattleTank/Saved/
BattleTank/.vs/BattleTank/v15/Browse.VC.db
BattleTank/Content/StarterContent/
BattleTank/Content/UI/BT17-Firing-M1A1-tank-in-Djibouti.uasset
BattleTank/Content/Levels/BattleGround.umap
