BattleTank/Saved/
BattleTank/.vs/BattleTank/v15/Browse.VC.db
BattleTank/Content/StarterContent/
BattleTank/Content/UI/BT17-Firing-M1A1-tank-in-Djibouti.uasset
BattleTank/Content/Levels/BattleGround.umap
BattleTank/.vs/BattleTank/v15/ipch/AutoPCH/6a48a261cce6168c/TANKPLAYERCONTROLLER.ipch
BattleTank/.vs/BattleTank/v15/
