BattleTank/.vs/BattleTank/v15/Browse.VC.db
BattleTank/.vs/BattleTank/v15/Browse.VC.opendb
BattleTank/Saved/Autosaves/Game/BattleGround_Auto4.umap
BattleTank/Saved/Autosaves/Game/BattleGround_Auto5.umap
BattleTank/Saved/Backup/BattleGround_BuiltData_2018-07-23-19-23-49.uasset
